/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50em;
}
form{
  width: 30em;
  margin: 0 auto;
  padding: 50px;
  background-color: #f4f6f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #1e63af;
}

.box label{
  display: block;
}
.box input{
  outline: none;
  border: none;
  padding: 0 30px;
  border-radius: 5px;
}

.box label{

} */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #fa320a;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #961e06;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #fa320a;
  text-decoration: none;
}