.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px  rgba(191,134,40,1);
  text-align: center;
}

.title {
  color: rgba(225,165,67,1);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label,.errorlabel {
  text-align: left;
  margin-bottom: 5px;
}
.errorlabel{
  font-size: .9em;
  color: red;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  background-color:  rgba(191,134,40,1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch .a {
  color: rgba(225,165,67,1);
  text-decoration: none;
}

.icon {
  float: left;
  position: absolute;
  cursor: pointer;
  color: #333;
}


.icon:hover{
  color:rgba(225,165,67,1);
}